
/*Navbar*/

.navbar-brand img{
    width: 300px;
}
.navbar-expanded-navbar ul li{
    margin: 0px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 23px;
    padding-bottom: 22px;
    transition: 0.3s;
    height: 100%;
}
.navbar-expanded-navbar ul li:hover{
    background: $black;
    opacity: 0.95;
}
.navbar-expanded-navbar ul li a{
    margin: 0px;
    padding: 0px;
    padding-left: 15px;
    padding-right: 15px;
    border-width: 1px;
}
.navbar-expanded-navbar ul li:hover a{
    color: $blue !important;
}

/*The 3 brs turnning into an X*/
.navbar-toggle:hover .icon-bar1 { 
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
    top:6px;
}
.navbar-toggle:hover .icon-bar2 { 
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
}
.navbar-toggle:hover .icon-bar3 { 
    -ms-transform: rotate(-45deg); /* IE 9 */
    -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
    transform: rotate(-45deg);
    top:-6px;
}
.navbar-default .navbar-toggle {
    border-width: 0px;
}


.navbar-buffer{
    padding-top: 60px;
}
@media screen and (max-width: 386px){
    .navbar-buffer{
        padding-top: 120px;
    }
}