
.homeTemplate{
}
.homeTemplate .templateContainer{
	position: absolute;
}
.homeTemplate .templateContainer img{
	position: relative;
	text-align: center;
    width: 100%;
}

.homeTemp-aboutUs{
	background-color: $black;
	color: $white;
}
.homeTemp-aboutUs div{
	margin-top: 10px;
}
.homeTemp-aboutUs div img{
	width: 100%;
}
.homeTemp-aboutUs .paragraphBody h1{
	font-size: 18px !important;
	margin-top: 0px !important;
	color: $blue;
}
.homeTemp-aboutUs .paragraphBody div span{
	color: $blue;
}

.homeTemp-Core{
	padding-left: 15px !important;
	background-color: $black;
}
.homeTemp-Core .core-element{
	margin-bottom: 15px;
	padding-right: 15px !important;
	padding-left: 0px !important; 
	height: 100%;
}

.homeTemp-Core .core-element .core-container{
	background: $white !important;
	color: $black;
	height: 100%;
	padding: 15px;
}

.homeTemp-Core .core-element .core-container .core-title{
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 15px;
}
.homeTemp-Core .core-element .core-container .core-title a{
	text-decoration: none !important;
}
.homeTemp-Core .core-element .core-container .core-body{
	width: 100%;
	padding-left: 5px;
    padding-right: 5px;
}