
<div class='numberContainer'>
	<span class='forum'>
		<div class='btn heading'>{{heading}}</div>
		<div class='btn maxbtn'>max</div>
		<div class='btn minbtn'>min</div>
		<div class='btn amount'>
			<div class='single' data-ng-repeat='single in singles'>
				<span>{{min}FuelPizza}</span>
			</div>
			<div class='line' data-ng-repeat='line in lines'>
				<span>{{line.text}}</span>
			</div>
		</div>
	</span>
	<span class='results'>
		<div class='resultsContainer'>results</div>
	</div>
	Number
</div>