
.numberContainer{
	 margin: 30px;
	 background: white;
}
.numberContainer .forum{
	width: 49%;
}

.numberContainer .maxbtn{
	width: 300px;

}
.numberContainer .minbtn{
	width: 300px;
}

.numberContainer .results{
	width: 49%;

}

.numberContainer .resultsContainer{
	width: 75%;
	background-color: $blue;
}